.fsize11 { font-size: 11px }
.passwd-img {
    margin-top: -1.37em;
    cursor: pointer;
    position: absolute;
    margin-left:10.50em;
}
.align-right { float: right; }
.textstyle-unset { text-transform: unset !important; }